.workspace {
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 20px
}

.item-listing {
    padding: 5px 13px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.12s ease;
}

.item-listing:hover {
    background-color: rgb(88, 35, 0);
}

.item-listing:active {
    background-color: rgb(38, 16, 3);
}
