.auth-screen {
    width: 99vw;
    height: 99vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    padding-bottom: 20vh;
    box-sizing: border-box;
}

.auth-form-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(68, 64, 64, 0.45);

    z-index: 1000;
}

.auth-form {
    display: flex;
    flex-direction: column;

    gap: 12px;
    padding: 24px;

    background-color: rgb(3, 1, 11);
    border: 1px solid #060202;
    border-radius: 12px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);

    min-width: 320px;
}
