.app {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ribbon {
    background: rgb(43, 42, 41);
    display: flex;
    gap: 10px;
    padding: 10px;
}

.app-layout {
    display: flex;
    height: 100vh;
}

.page-view {
    flex: 1;
}

.item-listing {
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.12s ease;
}

.item-listing:hover {
    background-color: #a5663c8d;
}

.item-listing:active {
    background-color: rgb(38, 16, 3);
}

input.rename-input {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
    box-sizing: border-box;

    height: 1em;
    line-height: inherit;

    border-radius: 1px !important;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;

    font: inherit;

    transform: translateX(-1px);
}
