.mini-ribbon {
    display: flex;
    align-items: center;
    gap: 8px;

    background: #131310;
    padding: 4px 6px;
}

.breadcrumbs {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 4px;

    text-align: left;
    background: #11120d;
    padding: 2px 8px;

    border: 2px solid #060202;
    border-radius: 8px;

    height: 36px;
}
