.breadcrumbs {
    text-align: left;
    background: #11120d;
    padding: 2px;
    border: 2px solid #060202;
}

.breadcrumb {
    display: inline-flex;
    border: 1px solid #060202;
    border-radius: 8px;
}
