.doc-list {
  text-align: left;
}

.vertical-item-listing {
  background: rgb(30, 30, 22);

  width: 300px;
  min-width: 200px;
  max-width: 500px;

  resize: horizontal;
  overflow: auto;

  flex-shrink: 0;

  padding-top: 10px;
}

.item-arrow {
    font-size: 10px;
    width: 5px;          /* fixed width */
    flex-shrink: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}
