.selected-folder {
    flex: 1;
    min-width: 0;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
}

.folder-grid-item-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 40px;
}
