.doc-list {
  text-align: left;
}

.vertical-item-listing {
  background: rgb(30, 30, 22);

  width: 300px;
  min-width: 200px;
  max-width: 500px;
  
  resize: horizontal;
  overflow: auto;

  flex-shrink: 0;
}

.item-arrow {
    font-size: 10px;
    width: 5px;          /* fixed width */
    flex-shrink: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 18px;
    padding: 5px 6px 1px 12px;
    border-bottom: 2px solid rgb(145, 144, 143);
    height: 44px;
}

.item {
    display: flex;
    align-items: center;
    min-width: 0;
}

.item-name-left-align {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 0;
    overflow: hidden;
}

.item-name-left-align > svg {
    flex-shrink: 0;
}

.item-name-left-align > span {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
