.search-bar {
    position: relative;
    display: flex;
    flex: 1;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* clicks go to the input */
    color: #f39150;
}

.search-filters-button {
    position: absolute;
    height: 40px;
    left: 46px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 4px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.search-filters-button:hover {
    background-color: #585454;
}

.search-bar input {
    width: 100%;
    padding: 9px 12px 8px 140px; /* extra left padding for the icon */
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid white;
    font-size: 17px;
}

.search-results {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;

    background: rgb(53, 50, 50);
    border: 2px solid #3c3c3c;
    border-radius: 8px;

    max-height: 300px;
    overflow-y: auto;

    z-index: 1000;
}

.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
